.header-accueil{

    text-align: center;
    margin-top: 1.4rem;
    margin-bottom: 1rem;
    box-shadow: 0px 5px 6px 0px rgb(0 0 0 / 20%);
}

// .main-accueil{
//     padding: 15px;
// }

.localisation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 63px;
    background-color: $light-grey;
    .marker-icone{
        padding: 15px;
    }
    input{
        font-weight: bold;
        border: 0;
        font-size: 1.6rem;
        background-color: $light-grey;
        color: black;

    }
}

input::placeholder{
    color: black;
    opacity: 1;
}

.accueil{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h2{
        text-align: center;
        max-width: 250px;
    }
    p{
        max-width: 300px;
        text-align: center;
    }
    button{
        padding: 11px 20px;
    }
}


.fonctionnement{
    width: 100%;
    padding: 0;
}
.container-fonctionnement{
    // width: 95%;
    ul{
        margin: 0;
        padding-left: 5px;
    }
    
    li{
        padding: 15px;
        border: 2px solid $light-grey;
        box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 60%);
        border-radius: 20px;
        margin-bottom: 15px;
        align-items: center;
        font-weight: bold;
    }
}

.fonctionnement-numeros{
    background-color: $secondary-color;
    color: white;
    padding: 3px 7px 3px 7px;
    border-radius: 500px;
    position: relative;
    left: -28px;
}

.fonctionnement-icone{
    color: grey;
    margin: 0 30px;
}

.restaurants-list{
    background-color: $light-grey;
}


.restaurant-card{
    // display: grid;
    // grid-template-columns: 1fr;
    // grid-template-rows: repeat(4, 250px);
    // gap: 2rem;
    background-color: white;
    // padding: 5px;
    border-radius: 25px;
    height: 100%;
    // margin: 20px;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 30%);
    margin-bottom: 15px;
    position: relative;
}

.article-content{
    h3 
    {
        margin: 0;
    }
    padding: 5px 24px 10px 24px;
    margin: 0;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.block_image
{
    height: 70%;
    > img {
        object-fit: cover;
        width: 100%;
        height: 200px;
        border-radius: 25px 25px 0 0;
    }
    .nouveau-restaurant{
        display: flex;
        justify-content: center;
        position: absolute;
        top: 25px;
        right: 34px;
        background-color: #99e2d0;
        p{
            color: green;
            padding: 10px 20px;
            margin: 0;
        }
    }
}

@media screen and (min-width: 1000px) {
    .container-fonctionnement ul{
        display: flex;
        justify-content: space-around;
    }
    .fonctionnement-icone{
        margin: 0 1px;
    }
    .restaurants-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        margin-bottom: 20px;
    }
    .restaurants-card{
        margin-bottom: 0;
    }

    .article-content{
    padding: 5px 24px 10px 24px;
    margin: 0;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    }
    
}
