.header-restaurant {
    display: flex;
    text-align: center;
    // margin-top: 1.4rem;
    margin-bottom: 1rem;
    justify-content: center;
    position: relative;
    background-color: white;
    padding-top: 5px;

    >a {
        position: absolute;
        font-size: 20px;
        left: 20px;
        top: 19px;
    }
}

.main-restaurant {
    width: 100%;
    padding: 0
}

.main-image {
    width: 100%;
    height: 50vh;

    img {
        width: 100%;
        height: 100%;
        margin-top: -80px;
        object-fit: cover;
    }

}

.menu {
    margin-top: -200px;
    padding: 0 14px;
    background-color: $light-grey;
    border-radius: 30px 30px 0 0;
    position: relative;

    .name_restaurants {
        font-family: 'shrikhand';
        font-weight: 100;
        padding: 20px 0 0px 0;
    }

    h3 {
        margin: 20px 0 0 0;
        font-weight: lighter;
        text-transform: uppercase;

    }

    h3::after {
        content: '';
        display: block;
        width: 50px;
        height: 4px;
        background: $tertiary-color;
        position: relative;
        // bottom: 3px;
    }
    .logo-et-coeur{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.entrees,
.plat,
.desserts {
    display: grid;
    gap: 15px;

}

.card-menu {
    background-color: white;
    // display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 1.4rem;
    border-radius: 15px;
    box-shadow: 5px 5px 15px 5px rgb(0 0 0 / 10%);
    // transition: opacity 1s linear;
    position: relative;
    animation: opacity 1s both;

    a {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

}

.menu-text {
    overflow: hidden;
    white-space: nowrap;
    padding-left: 15px;
    padding-right: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .overflow{
        overflow: hidden;
    }

    h4 {
        margin: 10px 0 0 3px;
        font-size: 1.6rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    p {
        margin: 5px 0 8px 3px;
        font-size: 1.4rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    span{
        padding-bottom: 10px;
    }

}

.menu-price {
    font-weight: bold;
    margin: 0 15px 8px 0;
}

.btn {
    display: flex;
    justify-content: center;
    width: 100%;

    button {
        padding: 11px 35px;
        margin: 50px 0;
    }
}

.check {
    display: flex;
    align-items: center;
    position: absolute;
    background: $tertiary-color;
    border-radius: 0 15px 15px 0;
    right: 0px;
    padding: 0 13px;
    height: 100%;
    opacity: 0;
    i {
        display: flex;
        color: white;
        transition: 1s ease;
        font-size: 20px;
        // padding-top: 11px;
    }
}

.card-menu:hover {
    // transition: 1.5s ease;

    .menu-price {
        padding-right: 70px;
        transition: 0.5s ease;
    }

    .check{
    
        justify-content: center;
        align-items: center;
        animation: slider 1s ease;
        transform-origin: right;
        opacity: 1;
    }

    i {
        transform: rotate(1turn);
        transition-duration: 680ms;
        transition-delay: 100ms;
    }
    

}


.entrees{
    animation: fondu 1.5s both;
}

.plat{
    animation: fondu 2.5s both;
}

.desserts{
    animation: fondu 3.5s both;
}



@media screen and (min-width: 769px) {
    .restaurant-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        gap: 20px;
    }
}

@media screen and (max-width: 768px) {
    .restaurant-list {
        max-width: 370px;
        margin: auto;
    }
    .card-menu{
        font-size: 1.3rem;
    }
}


@keyframes fondu {
    0%{
        transform: translateY(30%);
        opacity: 0;

    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slider {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
  }