*,
*::after,
*::before{
    box-sizing: border-box;
}

html{font-size: 62.5%;}

body {
    width: 100%;
    min-height: 100%;
    font-size: 1.6rem;
    font-family: 'roboto-regular';
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

main{
    width: 100%;
    max-width: 1440px;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'shrikhand';
    font-size: 3.5rem;
    font-weight: 100;
    margin: 0;
  }
h2{
    margin-left: 15px ;
}

ul{
    list-style-type: none;
    }
a{
    text-decoration: none;
    color: #000;  
} 
