button{
    font-family: 'roboto-regular';
    background: linear-gradient(200deg, $primary-color 0%, $secondary-color 100%);
    color: white;
    border: none;
    border-radius: 200px;
    box-shadow: 5px 5px 15px 5px rgb(0 0 0 / 50%);
    &:hover{
        box-shadow: 5px 5px 15px 5px #9356dc;
        filter: brightness(120%);
        font-weight: lighter;
    }
    
}
